body{
    background-color:antiquewhite;
}
h1{
    font-size: 60px;
    font-family: "Verdana", "Times New Roman","sans-serif";
}
.name{
    background-color: aquamarine;
}

.recipe{
    font-size: 30px;
    font-weight: bold;
}
.steps,.ingredients{
    font-size: 30px;
}
